.overall-container {
  display: flex;
  padding-top: 45px;
  width: 100%;
  
  justify-content: center;
  
}
.movieInfo {
  display: flex;
  background-color: rgb(15, 9, 9);
  color: rgb(141, 25, 25);
  border: 1px solid rgb(83, 75, 75) !important;
  align-items:center;
  list-style: none;
  text-align: center !important;
  justify-content: center !important;
  width: 100%;
  padding-top: 5px;
  margin-top: 10px;
}

.search-button {
  height: 100px !important;
  width: 100px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.large-icon {
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: rgb(141, 25, 25);
}

.icon-container {
  background-color: transparent;
  border: none;
}
.button-container {
  background-color: transparent;
  border: none;
  padding-top: 35px;
  margin: 0 auto;
  padding-bottom: 35px;
  left: calc(20% - 100px) !important;
}
.aboutButton {
  background-color: transparent;
  color: rgb(141, 25, 25);
  font-size: 35px;
  border: none;
  width: 100%;
  flex-direction: column;
}
.about-movie-button {
  background-color: transparent;
  color: rgb(141, 25, 25);
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.bi:hover {
  color: #ece7e7;
  transform: scale(1.1);
  transition: transform 0.3s ease, color 0.3s ease;
}

.movie-container {
  padding-bottom: 35px;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-left: 35px;
  flex-direction: column;
  
  
  }

.peralta-regular {
 
  font-weight: 600;
  font-style: oblique;
  color: rgb(255, 248, 243);
  outline: black;
  padding-bottom: 10px;
  padding-top: 200px;
}
.dropDown {
  background-color: black;
  color: #ffffff;
}
.title {
  width: 100%;
}
h1{
  margin-top: 200px;
}


@media screen and (max-width: 600px) {
  .overall-container {
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
  }
  .movie-container {
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  .button-container {
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
  }
  

}