.App {
  text-align: center;
}

body{
  border:15px;
}

.App-header {
  background-color: #18c115;
  min-height: 100vh;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.App-link {
  color: #17e72f;
}

p {
  width: 400px;
  justify-content: center;
  align-items: center;
  display: flex !important;
  margin-top: 20px;
  
}