.App {
  text-align: center;
}

body{
  border:15px;
}

.App-header {
  background-image:url(../public/images/movies.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  color: rgb(222, 22, 22);
  font-weight: 600;
}

.App-link {
  color: rgb(222, 22, 22);
}

p {
  width: 400px;
  justify-content: center;
  align-items: center;
  display: flex !important;
  margin-top: 20px;
  background-color: rgb(48, 37, 37);
  
}